body {
  height: 100%;
  background: url('../images/unfocused-gym.jpg') rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font: 400 1.25em/0.8 'Yanone Kaffeesatz';
  color: rgb(0, 0, 0);
}

div p {
  margin-bottom: 1em;
}

.container {
  float: left;
}

.container .element {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  height: 100px;
  min-height: 100px;
  max-height: 100px;
  border: 2px solid rgba(100, 158, 215, 0.83);
  border-radius: 1000px;
  background-color: rgb(222, 222, 222);
}

.container .text {
  clear: both;
}

.element {
  position: relative;
  float: left;
}

.image {
  display: block;
  position: relative;
  float: left;
  z-index: 42;
  width: 51px;
  height: auto;
  margin: -67px 0 0 84.26667%;
  overflow: hidden;
}

.text {
  position: relative;
  float: left;
  color: rgb(0, 0, 0);
}

._button {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 2;
  width: 14.4%;
  height: 51px;
  margin: -67px 0 0 10px;
  border-radius: 3px;
  background: url('../images/circled-left-2(4).png') #c2d3ef;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 0.8em;
  line-height: 1.38;
  text-align: center;
  color: #c2d3ef;
}

._container {
  position: relative;
  width: 26.6666666666%;
  height: 100px;
}

.container-1 {
  z-index: 6;
  margin: 36px 0 0 2.66667%;
}

.container-10 {
  z-index: 36;
  margin: -101px 0 0 2.66667%;
}

.container-11 {
  z-index: 33;
  margin: -100px 0 0 36.25417%;
}

.container-12 {
  z-index: 39;
  margin: -100px 0 0 69.5875%;
}

.container-13 {
  width: 28.2666666666%;
  height: 54px;
  margin: 22px 0 0 127px;
}

.container-2 {
  z-index: 9;
  margin: 36px 0 0 6.91667%;
}

.container-3 {
  z-index: 12;
  margin: 36px 0 0 6.92917%;
}

.container-4 {
  clear: both;
  z-index: 15;
  margin: -349px 0 0 2.66667%;
}

.container-5 {
  clear: both;
  z-index: 21;
  margin: -350px 0 0 36.25%;
}

.container-6 {
  z-index: 24;
  margin: -350px 0 0 69.57917%;
}

.container-7 {
  z-index: 30;
  margin: -224px 0 0 2.66667%;
}

.container-8 {
  z-index: 27;
  margin: -224px 0 0 36.25%;
}

.container-9 {
  z-index: 18;
  margin: -224px 0 0 69.57917%;
}

.element-1 {
  z-index: 0;
  width: 100%;
  height: 97px;
  background-color: rgb(194, 211, 239);
}

.element-10 {
  z-index: 22;
  margin-left: -1px;
}

.element-11 {
  z-index: 28;
}

.element-12 {
  z-index: 25;
}

.element-13 {
  z-index: 16;
}

.element-14 {
  z-index: 34;
}

.element-15 {
  z-index: 31;
}

.element-16 {
  z-index: 37;
}

.element-2 {
  z-index: 43;
  width: 15.7291666666%;
  height: 57px;
  margin: -67px 0 0 84.2666666666%;
  background-color: rgba(222, 222, 222, 0);
}

.element-3 {
  z-index: 4;
}

.element-4 {
  z-index: 7;
}

.element-5 {
  z-index: 10;
}

.element-6 {
  clear: both;
  z-index: 41;
  width: 36.25%;
  height: 379px;
  background-color: rgba(222, 222, 222, 0);
}

.element-7 {
  z-index: 13;
}

.element-8 {
  z-index: 40;
  width: 66.1333333333%;
  height: 480px;
  margin: -479px 0 0 33.8625%;
  background-color: rgba(222, 222, 222, 0);
}

.element-9 {
  z-index: 19;
}

.text-1 {
  z-index: 1;
  margin: -85px 0 0 104px;
  font-size: 2.25em;
  font-weight: 700;
  line-height: 1.78;
  text-transform: uppercase;
}

.text-10 {
  z-index: 17;
  width: 44.25%;
  min-height: 66px;
  margin: -78px 0 0 27px;
  font-size: 1em;
  text-align: center;
}

.text-11 {
  z-index: 35;
  margin: -76px 0 0 27px;
  font-size: 1em;
}

.text-12 {
  z-index: 32;
  width: 56%;
  min-height: 60px;
  margin: -77px 0 0 23px;
  font-size: 1em;
}

.text-13 {
  z-index: 38;
  width: 44%;
  min-height: 49px;
  margin: -77px 0 0 27px;
  font-size: 1em;
}

.text-2 {
  z-index: 5;
  margin: -85px 0 0 22px;
  font: 700 0.8em/0.78 'Trebuchet MS';
  text-align: center;
  text-transform: uppercase;
}

.text-3 {
  z-index: 8;
  margin: -75px 0 0 20px;
  font-size: 1em;
  text-align: center;
}

.text-4 {
  z-index: 11;
  width: 41%;
  min-height: 49px;
  margin: -75px 0 0 32px;
  font-size: 1em;
}

.text-5 {
  z-index: 14;
  width: 51%;
  min-height: 54px;
  margin: -75px 0 0 25px;
  font-size: 1em;
}

.text-6 {
  z-index: 20;
  margin: -75px 0 0 23px;
  font-size: 1em;
}

.text-7 {
  z-index: 23;
  margin: -75px 0 0 24px;
  font-size: 1em;
  text-align: center;
}

.text-8 {
  z-index: 29;
  width: 62.984375%;
  min-height: 60px;
  margin: -78px 0 0 19px;
  font-size: 1em;
}

.text-9 {
  z-index: 26;
  width: 52%;
  min-height: 48px;
  margin: -78px 0 0 27px;
  font-size: 1em;
}